<div class="jumbotron half" ui-element-query="queries">
	<h1 class="only-mobile">Mobile</h1>
	<h1 class="only-tablet-portrait">Tablet Portrait</h1>
	<h1 class="only-tablet-landscape">Tablet Landscape</h1>
	<h1 class="only-desktop">Desktop</h1>
</div>
<div class="jumbotron two-thirds" ui-element-query="queries">
	<h1 class="only-mobile">Mobile</h1>
	<h1 class="only-tablet-portrait">Tablet Portrait</h1>
	<h1 class="only-tablet-landscape">Tablet Landscape</h1>
	<h1 class="only-desktop">Desktop</h1>
</div>
<div class="jumbotron" ui-element-query="queries">
	<h1 class="only-mobile">Mobile</h1>
	<h1 class="only-tablet-portrait">Tablet Portrait</h1>
	<h1 class="only-tablet-landscape">Tablet Landscape</h1>
	<h1 class="only-desktop">Desktop</h1>
</div>
